body {
    background-color: #efefef;
}

#header {
    height: 31px;
    min-height: 31px;
    background-color: #e34e35;
    color: #FFFFFF;
}

#header .btn {
    padding: 0 10px;
    background-color: transparent;
    outline: 0;
    border: 0;
}

#header .btn:hover,
#header .btn:focus,
#header .btn:active {
    outline: 0;
}

#header .btn img {
    width: 31px;
    height: 31px;
    padding: 3px;
    margin-top: -1px;
}

#header span {
    font-weight: 700;
    line-height: 31px;
    font-size: 14px;
}

#content {
    padding-top: 31px;
    padding-bottom: 31px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    padding: 20px;
    margin: 20px;
}

.inline-chart {
    display: inline-block;
    padding-right: 30px;
}

.spectrogram-wrapper{padding: 20px 0 20px 0;width: 800px;margin: 0 auto;}
.spectrogram-wrapper .calibration{margin-bottom: 15px;width:400px;}
.spectrogram-wrapper .calibration .group{display: inline-block;}
.spectrogram-wrapper .calibration .description{width:220px; margin-left: 75px; }
.spectrogram-wrapper .calibration .description>label:first-child{float:left;}
.spectrogram-wrapper .calibration .description>label:last-child{float:right;}
.spectrogram-wrapper .calibration>.display-control{float:right;}
.spectrogram-wrapper .calibration>.display-control label{vertical-align: top;}

.spectrogram-wrapper .spectrogram .axis path{display: none;}
.spectrogram-wrapper .spectrogram .axis line{fill: none;stroke: #000;shape-rendering: crispEdges;}
.spectrogram-wrapper .spectrogram .axis text{font-size: 12px}

#footer {
    color: #FFFFFF;
    position: fixed;
    z-index: 1000;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 31px;
    padding: 0px;
    background-color: #4d4d4d;
}

.table-header {

}

.table-header > div {
    display: inline-block;
}

.table-header h1 {
    font-size: 24px;
    margin-top: 10px;
}

.table-header .filter-bar {
    float: right;
}

.dt {

}

.dt .thead {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.dt .tbody .tr .td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.dt .tbody .tr .td.no-content {
    text-align: center;
}

.dt .thead .tr .th {
    line-height: 40px;
}

.dt .thead .tr .th span {
    cursor: pointer;
}

.dt .thead .tr .th i.fa {
    padding: 0 5px;
}